# API Keys
FIGMA_API_KEY=your_figma_token_here
FIRECRAWL_API_KEY=your Keys

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-south-1

# Vercel
NEXTAUTH_SECRET=your_nextauth_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Database
DATABASE_URL=

# Encryption
ENCRYPTION_KEY=your_32_char_encryption_key

# Remotion
REMOTION_SERVE_URL=your_remotion_serve_url
REMOTION_FUNCTION_NAME=your_remotion_function_name
REMOTION_FUNCTION_URL=your_remotion_function_url
